In [25]:
# importing libraries
import pandas as pd
import numpy as np

In [179]:
# loading train and test set
df11 = pd.read_csv('train.csv')
df22 = pd.read_csv('test.csv')
df33 = pd.read_csv('sample.csv')

In [100]:
df11.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [101]:
# check all feature's value for every columns 
df11['Hospital_type_code'].value_counts() , df22['Hospital_type_code'].value_counts()

(a    143425
 b     68946
 c     45928
 e     24770
 d     20389
 f     10703
 g      4277
 Name: Hospital_type_code, dtype: int64,
 a    61305
 b    29938
 c    20219
 e    10658
 d     8659
 f     4549
 g     1729
 Name: Hospital_type_code, dtype: int64)

In [102]:
df11['Hospital_code'].value_counts()

26    33076
23    26566
19    21219
6     20425
11    17328
14    17328
28    17137
27    14244
9     11510
29    11311
12    11297
32    10703
25     9834
10     9435
15     9257
21     8150
24     7992
3      7116
17     5501
5      5261
1      5249
13     5236
2      5102
30     5002
22     4277
31     3967
16     3671
8      3663
18     3630
20     1405
7      1306
4      1240
Name: Hospital_code, dtype: int64

In [103]:
df11['City_Code_Hospital'].value_counts()

1     55351
2     51809
6     46991
7     35463
3     31569
5     31105
9     26277
11    17137
4     13857
10     5249
13     3630
Name: City_Code_Hospital, dtype: int64

In [104]:
df11['Hospital_region_code'].value_counts()

X    133336
Y    122428
Z     62674
Name: Hospital_region_code, dtype: int64

In [105]:
df11['Available Extra Rooms in Hospital'].value_counts()

2     98311
4     91709
3     91520
5     19288
6      7786
1      5582
7      2876
8      1027
9       218
10       67
11       17
0        15
12       13
21        3
13        2
20        2
14        1
24        1
Name: Available Extra Rooms in Hospital, dtype: int64

In [106]:
df11['Department'].value_counts()

gynecology            249486
anesthesia             29649
radiotherapy           28516
TB & Chest disease      9586
surgery                 1201
Name: Department, dtype: int64

In [107]:
df11['Ward_Type'].value_counts()

R    127947
Q    106165
S     77794
P      5046
T      1477
U         9
Name: Ward_Type, dtype: int64

In [108]:
df11['Ward_Facility_Code'].value_counts()

F    112753
E     55351
D     51809
C     35463
B     35156
A     27906
Name: Ward_Facility_Code, dtype: int64

In [109]:
df11['Bed Grade'].value_counts()

2.0    123671
3.0    110583
4.0     57566
1.0     26505
Name: Bed Grade, dtype: int64

In [110]:
df11['City_Code_Patient'].value_counts()

8.0     124011
2.0      38869
1.0      26377
7.0      23807
5.0      20079
4.0      15380
9.0      11795
15.0      8950
10.0      8174
6.0       6005
12.0      5647
3.0       3772
23.0      3698
14.0      2927
16.0      2254
13.0      1625
21.0      1602
20.0      1409
18.0      1404
19.0      1028
26.0      1023
25.0       798
27.0       771
11.0       658
28.0       521
22.0       405
24.0       360
30.0       133
29.0        98
33.0        78
31.0        59
37.0        57
32.0        52
34.0        46
35.0        16
36.0        12
38.0         6
Name: City_Code_Patient, dtype: int64

In [111]:
df11['Type of Admission'].value_counts()

Trauma       152261
Emergency    117676
Urgent        48501
Name: Type of Admission, dtype: int64

In [112]:
df11['Severity of Illness'].value_counts()

Moderate    175843
Minor        85872
Extreme      56723
Name: Severity of Illness, dtype: int64

In [113]:
df11['Visitors with Patient'].value_counts()

2     138417
4      79225
3      59180
6      18860
5       9219
8       4872
7       2504
9       1358
1       1207
10      1183
12       968
11       327
16       286
14       207
15       194
13       106
24        78
20        62
18        61
0         22
17        20
22        19
19        12
25        12
21        11
23        10
30         9
32         9
Name: Visitors with Patient, dtype: int64

In [114]:
df11['Age'].value_counts()

41-50     63749
31-40     63639
51-60     48514
21-30     40843
71-80     35792
61-70     33687
11-20     16768
81-90      7890
0-10       6254
91-100     1302
Name: Age, dtype: int64

In [115]:
df11['Stay'].value_counts()

21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

In [116]:
# checking null values for train set
df11.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [118]:
# filling null values of 'City_Code_Patient' , 'Bed Grade' column with the mode in train set
df11['City_Code_Patient'] = df11['City_Code_Patient'].fillna(df11['City_Code_Patient'].dropna().mode().values[0])
df11['Bed Grade'] = df11['Bed Grade'].fillna(df11['Bed Grade'].dropna().mode().values[0])

In [119]:
df11['patientid'].value_counts()

66714     50
91292     43
38525     39
101359    36
33491     34
          ..
63360      1
85687      1
89781      1
97969      1
58524      1
Name: patientid, Length: 92017, dtype: int64

In [120]:
df22.isnull().sum()      # checking null values for test set

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [121]:
# filling null values of 'City_Code_Patient' , 'Bed Grade' column with the mode in test set
df22['City_Code_Patient'] = df22['City_Code_Patient'].fillna(df22['City_Code_Patient'].dropna().mode().values[0])
df22['Bed Grade'] = df22['Bed Grade'].fillna(df22['Bed Grade'].dropna().mode().values[0])

In [122]:
# create dummy value both for train and test set
Hospital_type_code_new=pd.get_dummies(df11['Hospital_type_code'])
Hospital_region_code_new=pd.get_dummies(df11['Hospital_region_code'])
Department_new=pd.get_dummies(df11['Department'])
Ward_Type_new=pd.get_dummies(df11['Ward_Type'])
Ward_Facility_Code_new=pd.get_dummies(df11['Ward_Facility_Code'])
Type_of_Admission_new=pd.get_dummies(df11['Type of Admission'])
Severity_of_Illness_new=pd.get_dummies(df11['Severity of Illness'])
Age_new=pd.get_dummies(df11['Age'])


Hospital_type_code_test=pd.get_dummies(df22['Hospital_type_code'])
Hospital_region_code_test=pd.get_dummies(df22['Hospital_region_code'])
Department_test=pd.get_dummies(df22['Department'])
Ward_Type_test=pd.get_dummies(df22['Ward_Type'])
Ward_Facility_Code_test=pd.get_dummies(df22['Ward_Facility_Code'])
Type_of_Admission_test=pd.get_dummies(df22['Type of Admission'])
Severity_of_Illness_test=pd.get_dummies(df22['Severity of Illness'])
Age_test=pd.get_dummies(df22['Age'])

In [123]:
# add all dummy into df1 and df2
df11=pd.concat([df11,Hospital_type_code_new,Hospital_region_code_new,Department_new,Ward_Type_new,Ward_Facility_Code_new,
              Type_of_Admission_new,Severity_of_Illness_new,Age_new],axis=1)

df22=pd.concat([df22,Hospital_type_code_test,Hospital_region_code_test,Department_test,Ward_Type_test,Ward_Facility_Code_test,
              Type_of_Admission_test,Severity_of_Illness_test,Age_test],axis=1)

In [124]:
# drop unecessary and old columns for train and test set
df11 = df11.drop(['Hospital_type_code' , 'Hospital_region_code' , 'Department' , 'Ward_Type' , 
               'Ward_Facility_Code' , 'Type of Admission' , 'Severity of Illness' , 'Age','case_id' ] , axis=1)

df22 = df22.drop(['Hospital_type_code' , 'Hospital_region_code' , 'Department' , 'Ward_Type' , 
               'Ward_Facility_Code' , 'Type of Admission' , 'Severity of Illness' , 'Age','case_id'] , axis=1)

In [172]:
df11.head(2)

,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit,Stay,a,...,0-10,11-20,21-30,31-40,41-50,51-60,61-70,71-80,81-90,91-100
0,8,3,3,2.0,31397,7.0,2,4911.0,5,0,...,0,0,0,0,0,1,0,0,0,0
1,2,5,2,2.0,31397,7.0,2,5954.0,6,0,...,0,0,0,0,0,1,0,0,0,0

In [142]:
# mapping of features
mapping = {'21-30' : 1 , '11-20' : 2 , '31-40' : 3 , '51-60' : 4 , '0-10' : 5, '41-50' : 6 ,'71-80' : 7,
          'More than 100 Days' : 8 , '81-90' : 9 , '91-100' : 10, '61-70' : 11}
df11['Stay'] = df11['Stay'].map(mapping)

In [160]:
df11['Stay'].value_counts()

1     87491
2     78139
3     55159
4     35018
5     23604
6     11743
7     10254
8      6683
9      4838
10     2765
11     2744
Name: Stay, dtype: int64

In [161]:
# categorize x and y  
x=df11.drop(['Stay'],axis=1)
y=df11['Stay']
x_test = df22

In [162]:
df11['21-30']

0         0
1         0
2         0
3         0
4         0
         ..
318433    0
318434    0
318435    0
318436    0
318437    0
Name: 21-30, Length: 318438, dtype: uint8

In [ ]:
# train test split
from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val=train_test_split(x,y,test_size=0.2,)

In [133]:
# Linear Regression
from sklearn.linear_model import LinearRegression

model2 = LinearRegression().fit(x_train,y_train)

In [145]:
from xgboost import XGBClassifier
modelx = XGBClassifier().fit(x_train, y_train)

In [146]:
modelx.predict(x_val)

array(['51-60', '21-30', '0-10', ..., '21-30', '21-30', '51-60'],
      dtype=object)

In [147]:
ypredx = modelx.predict(x_test)

In [ ]:
# again convert o and 1 into No and Yes
df11['Stay'] = df11['Stay'].map({1:'21-30', 2:'11-20' , 3:'31-40' , 4:'51-60' , 5:'0-10' , 6:'41-50' , 7:'71-80',
                               8:'More than 100 Days' , 9:'81-90' , 10:'91-100' , 11:'61-70'})

In [148]:
print (ypredx)

['0-10' '51-60' '21-30' ... '11-20' '11-20' '51-60']

In [164]:
from sklearn.naive_bayes import MultinomialNB
model4 = MultinomialNB().fit(x_train, y_train)

y_pred4 = model4.predict(x_test)

In [165]:
y_pred4

array([1, 1, 1, ..., 1, 1, 9], dtype=int64)

In [173]:
# DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
model5 = DecisionTreeRegressor().fit(x_train , y_train)
y_pred5 = model5.predict(x_test)

In [ ]:
# Support Vector Regression
from sklearn.svm import SVR

model6 = SVR().fit(x_train, y_train)
y_pred6 = model6.predict(x_test)

In [174]:
y_pred5

array([5., 4., 2., ..., 1., 1., 2.])

In [184]:
# Create columns for the new csv file 
output_df = pd.DataFrame({'case_id' : df33['case_id'].values})
output_df['Stay'] = y_pred5
output_df['Stay'] = output_df['Stay'].map({1.:'21-30', 2.:'31-40' , 3.:'31-40' , 4.:'51-60' , 5.:'0-10' , 6.:'41-50' , 7.:'71-80',
                               8.:'More than 100 Days' , 9.:'81-90' , 10.:'91-100' , 11.:'61-70'})

In [185]:
# submit file to csv 
output_df.to_csv('Submission.csv' , index=False)